/* line 17, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/base.css.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../sass/base.css.scss */
body {
  font-size: 100%;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

/* line 28, ../sass/base.css.scss */
.container {
  margin: 50px auto;
  width: 90%;
}
/* line 31, ../sass/base.css.scss */
.container section {
  float: none;
}

/* line 36, ../sass/base.css.scss */
h1, h2, h3, h5 {
  font-family: "museo-slab", Helvetica, Arial, sans-serif;
}
/* line 38, ../sass/base.css.scss */
h1 em, h2 em, h3 em, h5 em {
  font-style: italic;
}

/* line 43, ../sass/base.css.scss */
h1 {
  font-size: 1.75em;
  line-height: 1em;
  margin: 0 0 0.75em 0;
  color: #5e5a5c;
}

/* line 50, ../sass/base.css.scss */
h2 {
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0.75em 0;
  color: #5e5a5c;
}
/* line 56, ../sass/base.css.scss */
h2.smaller {
  font-size: 1.2em;
}
/* line 59, ../sass/base.css.scss */
h2.related-heading-big {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  padding: 50px 0 25px 0;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 70, ../sass/base.css.scss */
h2.programme {
  line-height: 1em;
  margin: 30px 0 25px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
}
/* line 75, ../sass/base.css.scss */
h2.programme:first-of-type {
  margin-top: 50px;
}
/* line 79, ../sass/base.css.scss */
h2.related-project {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 20px 0 10px 0;
}
/* line 84, ../sass/base.css.scss */
h2.project {
  text-transform: none;
  font-size: 1.2em;
  font-weight: 300;
  color: #5e5a5c;
  word-spacing: 0;
  letter-spacing: 0;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 92, ../sass/base.css.scss */
h2.project .separator {
  color: #dddddd;
}

/* line 98, ../sass/base.css.scss */
h3 {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4em;
  margin: 1em 0 0.5em 0;
  color: #bbbbbb;
}
/* line 104, ../sass/base.css.scss */
h3.position {
  text-transform: uppercase;
  font-size: 0.85em;
  margin-bottom: 20px;
  font-weight: 300;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  color: #5e5a5c;
}
/* line 111, ../sass/base.css.scss */
h3.position .separator {
  color: #dddddd;
}
/* line 115, ../sass/base.css.scss */
h3.data {
  word-spacing: 0.07em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 300;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  margin: 1em 0;
}
/* line 124, ../sass/base.css.scss */
h3.author, h3.isbn {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  word-spacing: 0;
  letter-spacing: 0;
  text-transform: none;
  font-size: 0.85em;
  font-weight: 300;
  color: #5e5a5c;
}
/* line 133, ../sass/base.css.scss */
h3.author {
  margin-bottom: 0.5em;
}
/* line 136, ../sass/base.css.scss */
h3.isbn {
  margin-top: 0;
}
/* line 139, ../sass/base.css.scss */
h3#news {
  width: 100%;
  margin: auto;
  font-size: 0.8em;
  margin-bottom: 30px;
  padding-top: 60px;
  display: inline-block;
  text-align: left;
  font-weight: 400;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  word-spacing: 0.07em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5175a3;
}
/* line 154, ../sass/base.css.scss */
h3.vacancy-position {
  font-size: 1em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #bbbbbb;
  margin-bottom: 10px;
}
/* line 160, ../sass/base.css.scss */
h3.vacancy-position span#separator {
  display: inline-block;
  padding: 0 5px;
}
/* line 164, ../sass/base.css.scss */
h3.vacancy-position a#department {
  text-transform: uppercase;
}

/* line 170, ../sass/base.css.scss */
address, p {
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 1.5em;
  font-weight: 300;
  color: #5e5a5c;
}
/* line 176, ../sass/base.css.scss */
address i, p i {
  display: inline-block;
  font-size: 0.85em;
  padding-right: 5px;
}

/* line 183, ../sass/base.css.scss */
p strong {
  font-weight: 600;
}

/* line 187, ../sass/base.css.scss */
p em {
  font-style: italic;
}

/* line 191, ../sass/base.css.scss */
a {
  text-decoration: none;
  color: #4295d5;
}
/* line 194, ../sass/base.css.scss */
a:hover {
  color: #4295d5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: underline;
}

/* line 205, ../sass/base.css.scss */
small {
  display: block;
  font-size: 0.75em;
  color: #bbbbbb;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 1.25em;
}
/* line 213, ../sass/base.css.scss */
small.news-item {
  font-size: 0.85em;
  margin-bottom: 10px;
}

/* line 219, ../sass/base.css.scss */
ul {
  list-style-type: disc;
  padding: 1em 0 1em 1.25em;
}
/* line 222, ../sass/base.css.scss */
ul li {
  font-size: 1em;
  margin-bottom: 0.75em;
  line-height: 1.5em;
  font-weight: 300;
  color: #5e5a5c;
}

/* line 231, ../sass/base.css.scss */
#nav {
  background-color: #222222;
  overflow: hidden;
}
/* line 234, ../sass/base.css.scss */
#nav a#home_link {
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  float: left;
  padding: 0;
  background: #4295d5;
}
/* line 242, ../sass/base.css.scss */
#nav a#home_link img {
  max-width: 100%;
  max-height: 52px;
  display: block;
  background: #4295d5;
  padding: 2% 5%;
}
/* line 250, ../sass/base.css.scss */
#nav ul {
  margin: auto;
  list-style: none;
  overflow: hidden;
  float: right;
  list-style-type: none;
}
/* line 256, ../sass/base.css.scss */
#nav ul li {
  line-height: 1em;
  padding: 0;
  margin: 0;
}
/* line 260, ../sass/base.css.scss */
#nav ul li a {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}
/* line 267, ../sass/base.css.scss */
#nav ul li a:hover {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 275, ../sass/base.css.scss */
#nav ul li a.active {
  color: #fff;
}

/* line 284, ../sass/base.css.scss */
div.hero {
  background-image: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/project_3.jpg");
}

/* line 291, ../sass/base.css.scss */
div.container.related {
  border-top: 1px solid #dddddd;
}
/* line 293, ../sass/base.css.scss */
div.container.related div.button {
  margin: 30px auto 0 auto;
}

/* line 298, ../sass/base.css.scss */
div.heading {
  width: 90%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}
/* line 303, ../sass/base.css.scss */
div.heading h1 {
  margin-bottom: 0;
  font-size: 1.4em;
  line-height: 1.25em;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 310, ../sass/base.css.scss */
div.heading h2 {
  font-weight: 300;
  margin: 0.5em 0;
  font-size: 0.85em;
  line-height: 1.4em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 321, ../sass/base.css.scss */
div.heading h1, div.heading h2 {
  padding: 1% 0;
  color: #fff;
}
/* line 325, ../sass/base.css.scss */
div.heading.featured-project {
  width: 60%;
  margin-left: 5%;
  text-align: left;
}
/* line 329, ../sass/base.css.scss */
div.heading.featured-project h1, div.heading.featured-project h2 {
  padding: 0;
}
/* line 332, ../sass/base.css.scss */
div.heading.featured-project h2 {
  margin: 25px 0;
  padding: 5px 0;
}
/* line 336, ../sass/base.css.scss */
div.heading.featured-project div.button#featured_project {
  margin: 0;
}

/* line 342, ../sass/base.css.scss */
div.button, button {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #4295d5;
  background: none;
  box-shadow: none;
  font-weight: 300;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #4295d5;
  outline: none;
  max-width: 250px;
}
/* line 364, ../sass/base.css.scss */
div.button a, button a {
  font-weight: 300;
}
/* line 367, ../sass/base.css.scss */
div.button i, button i {
  float: right;
}
/* line 370, ../sass/base.css.scss */
div.button:hover, div.button:active, button:hover, button:active {
  border: 1px solid #4295d5;
  background-color: #4295d5;
  color: #fff;
}
/* line 374, ../sass/base.css.scss */
div.button:hover a, div.button:active a, button:hover a, button:active a {
  color: #fff;
  text-decoration: none;
}
/* line 379, ../sass/base.css.scss */
div.button.margin, button.margin {
  margin-top: 20px;
}
/* line 383, ../sass/base.css.scss */
div.button.data, button.data {
  text-align: left;
}
/* line 386, ../sass/base.css.scss */
div.button.banner, div.button#twitter, button.banner, button#twitter {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #bbbbbb;
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 390, ../sass/base.css.scss */
div.button.banner a, div.button#twitter a, button.banner a, button#twitter a {
  color: #fff;
}
/* line 393, ../sass/base.css.scss */
div.button.banner:hover, div.button.banner:active, div.button#twitter:hover, div.button#twitter:active, button.banner:hover, button.banner:active, button#twitter:hover, button#twitter:active {
  border: 1px solid #4295d5;
  background-color: #4295d5;
}
/* line 396, ../sass/base.css.scss */
div.button.banner:hover a, div.button.banner:active a, div.button#twitter:hover a, div.button#twitter:active a, button.banner:hover a, button.banner:active a, button#twitter:hover a, button#twitter:active a {
  color: #fff;
}
/* line 401, ../sass/base.css.scss */
div.button.banner, button.banner {
  border: 1px solid #fff;
}

/* line 407, ../sass/base.css.scss */
.container img {
  max-width: 100%;
  display: block;
}
/* line 411, ../sass/base.css.scss */
.container#news-home {
  background-color: #fff;
  width: 100%;
  padding: 0 5% 60px 5%;
  margin: 0;
}
/* line 418, ../sass/base.css.scss */
.container section#twitter {
  background: #dddddd;
  padding: 25px;
}
/* line 421, ../sass/base.css.scss */
.container section#twitter #top_twitter {
  width: 100%;
  padding: 2% 0 5% 0;
}
/* line 424, ../sass/base.css.scss */
.container section#twitter #top_twitter img {
  display: block;
  max-width: 19%;
  opacity: 0.3;
  float: left;
}
/* line 431, ../sass/base.css.scss */
.container section#twitter .tweet {
  padding: 3% 0;
}
/* line 433, ../sass/base.css.scss */
.container section#twitter .tweet small {
  margin-bottom: 3%;
}
/* line 436, ../sass/base.css.scss */
.container section#twitter .tweet:last-child {
  padding-bottom: 0;
}
/* line 438, ../sass/base.css.scss */
.container section#twitter .tweet:last-child p {
  margin-bottom: 0;
}

/* line 446, ../sass/base.css.scss */
div.column-1-3 {
  margin-bottom: 50px;
}
/* line 448, ../sass/base.css.scss */
div.column-1-3 section.actions, div.column-1-3 section.related-content {
  max-width: 350px;
}
/* line 451, ../sass/base.css.scss */
div.column-1-3.wide {
  max-width: 100%;
}
/* line 454, ../sass/base.css.scss */
div.column-1-3.right {
  margin-top: 60px;
  max-width: 100%;
}
/* line 458, ../sass/base.css.scss */
div.column-1-3.right section.actions:first-child, div.column-1-3.right section.related-content:first-child {
  margin-top: 0;
}

/* line 465, ../sass/base.css.scss */
section.larger {
  margin-bottom: 60px;
}
/* line 467, ../sass/base.css.scss */
section.larger:last-child {
  margin-bottom: 0;
}

/* line 472, ../sass/base.css.scss */
section.list {
  border-bottom: 1px solid #dddddd;
  padding: 20px 0;
  overflow: hidden;
}
/* line 476, ../sass/base.css.scss */
section.list p.link {
  float: left;
  margin-right: 20px;
}
/* line 480, ../sass/base.css.scss */
section.list:first-of-type {
  border-top: none;
  padding-top: 0;
}
/* line 484, ../sass/base.css.scss */
section.list:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
/* line 488, ../sass/base.css.scss */
section.list#expertise, section.list#intro {
  border: none;
}

/* line 494, ../sass/base.css.scss */
ul.subnav, ul.subnav-small {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 501, ../sass/base.css.scss */
ul.subnav li, ul.subnav-small li {
  line-height: 1em;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #4295d5;
}
/* line 506, ../sass/base.css.scss */
ul.subnav li a, ul.subnav-small li a {
  text-decoration: none;
  line-height: 1.25em;
}
/* line 510, ../sass/base.css.scss */
ul.subnav li:hover, ul.subnav li:active, ul.subnav li.active, ul.subnav-small li:hover, ul.subnav-small li:active, ul.subnav-small li.active {
  background: #4295d5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 512, ../sass/base.css.scss */
ul.subnav li:hover a, ul.subnav li:active a, ul.subnav li.active a, ul.subnav-small li:hover a, ul.subnav-small li:active a, ul.subnav-small li.active a {
  color: #fff;
}
/* line 521, ../sass/base.css.scss */
ul.subnav li.header, ul.subnav-small li.header {
  color: #5e5a5c;
  border-bottom: 1px solid #4c9cda;
  padding-left: 0;
}
/* line 525, ../sass/base.css.scss */
ul.subnav li.header i, ul.subnav-small li.header i {
  color: #4295d5;
}
/* line 528, ../sass/base.css.scss */
ul.subnav li.header:hover, ul.subnav-small li.header:hover {
  background-color: none;
  color: #4295d5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: none;
}
/* line 540, ../sass/base.css.scss */
ul.subnav ul.expertise-small, ul.subnav ul.expertise, ul.subnav-small ul.expertise-small, ul.subnav-small ul.expertise {
  text-transform: none;
  padding-left: 0;
  font-size: 0.85em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 547, ../sass/base.css.scss */
ul.subnav ul.expertise-small li, ul.subnav ul.expertise li, ul.subnav-small ul.expertise-small li, ul.subnav-small ul.expertise li {
  line-height: 1.25em;
}
/* line 550, ../sass/base.css.scss */
ul.subnav ul.expertise-small:first-of-type, ul.subnav ul.expertise:first-of-type, ul.subnav-small ul.expertise-small:first-of-type, ul.subnav-small ul.expertise:first-of-type {
  margin-bottom: 15px;
}
/* line 553, ../sass/base.css.scss */
ul.subnav ul.expertise-small#specialise li:last-of-type, ul.subnav ul.expertise#specialise li:last-of-type, ul.subnav-small ul.expertise-small#specialise li:last-of-type, ul.subnav-small ul.expertise#specialise li:last-of-type {
  margin-bottom: 0;
}
/* line 557, ../sass/base.css.scss */
ul.subnav ul.expertise-small, ul.subnav-small ul.expertise-small {
  display: none;
}

/* line 562, ../sass/base.css.scss */
ul.subnav {
  display: none;
}

/* line 566, ../sass/base.css.scss */
ul.subnav.areas {
  display: block;
}

/* line 581, ../sass/base.css.scss */
select#sorting, select#sorting option, div.search-field {
  width: 100%;
  cursor: pointer;
  background: #fff;
  margin: 30px 0 0 0;
  outline: none;
  line-height: 1.5em;
  border: 1px solid #dddddd;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 596, ../sass/base.css.scss */
select#sorting, select#sorting option {
  padding: 10px;
  font-size: 0.85em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: #5e5a5c;
  font-weight: 300;
}

/* line 605, ../sass/base.css.scss */
div.search-field {
  overflow: hidden;
  margin-top: 0;
}
/* line 608, ../sass/base.css.scss */
div.search-field input {
  margin: 0;
  padding: 10px;
  box-shadow: none;
  background: none;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 0.85em;
  font-weight: 300;
  border: none;
  width: 86%;
  outline: none;
  float: left;
}
/* line 622, ../sass/base.css.scss */
div.search-field i {
  color: #5e5a5c;
  font-size: 0.85em;
  display: block;
  padding: 10px 10px 10px 0;
  float: right;
  line-height: 1.5em;
  margin-top: 1px;
}

/* line 634, ../sass/base.css.scss */
ul#content, ul#content-small {
  margin: 30px 0 0 0;
  font-size: 0.85em;
  list-style-type: none;
  padding: 0;
}
/* line 639, ../sass/base.css.scss */
ul#content li, ul#content-small li {
  cursor: pointer;
  color: #5e5a5c;
  font-weight: 300;
  padding: 0 0 0 15px;
  margin: 20px 0;
  line-height: 1.7em;
  border-left: 5px solid #fff;
}
/* line 647, ../sass/base.css.scss */
ul#content li.header, ul#content-small li.header {
  cursor: default;
  font-weight: 500;
  border-bottom: 1px solid #eee;
  padding: 0 0 0 3%;
  margin: 0 0 8% -4.5%;
}
/* line 653, ../sass/base.css.scss */
ul#content li.header span.badge, ul#content-small li.header span.badge {
  font-size: 0.85em;
  font-weight: 300;
  cursor: pointer;
  margin-left: 5px;
}
/* line 659, ../sass/base.css.scss */
ul#content li.header:hover, ul#content-small li.header:hover {
  background: none;
  color: #5e5a5c;
}
/* line 664, ../sass/base.css.scss */
ul#content li.active, ul#content li:hover, ul#content-small li.active, ul#content-small li:hover {
  padding-left: 3%;
}
/* line 666, ../sass/base.css.scss */
ul#content li.active.content_type, ul#content li:hover.content_type, ul#content-small li.active.content_type, ul#content-small li:hover.content_type {
  border-left: 5px solid #4295d5;
}
/* line 670, ../sass/base.css.scss */
ul#content li span.badge, ul#content-small li span.badge {
  margin-left: 20px;
  float: right;
  font-weight: 300;
  color: #dddddd;
}
/* line 675, ../sass/base.css.scss */
ul#content li span.badge i.icon-caret-down, ul#content-small li span.badge i.icon-caret-down {
  font-size: 1.5em;
}

/* line 682, ../sass/base.css.scss */
div.column-1-3#data-small {
  overflow: hidden;
  display: block;
}
/* line 684, ../sass/base.css.scss */
div.column-1-3#data-small div.search-field, div.column-1-3#data-small select#sorting {
  margin-top: 20px;
  font-size: 1em;
}
/* line 688, ../sass/base.css.scss */
div.column-1-3#data-small div.search-field input {
  font-size: 1em;
}
/* line 693, ../sass/base.css.scss */
div.column-1-3#data-small ul#content-small {
  display: none;
  margin: 20px 0 0 0;
  font-size: 1em;
  list-style-type: none;
  padding: 0;
}
/* line 699, ../sass/base.css.scss */
div.column-1-3#data-small ul#content-small li {
  cursor: pointer;
  color: #5e5a5c;
  font-size: 0.85em;
  font-weight: 300;
  padding: 0 0 0 15px;
  margin: 20px 0;
  line-height: 1.7em;
  border-left: 5px solid #fff;
}
/* line 710, ../sass/base.css.scss */
div.column-1-3#data-small button.data {
  margin-top: 20px;
  max-width: 100%;
  color: #5e5a5c;
  border: 1px solid #dddddd;
}
/* line 715, ../sass/base.css.scss */
div.column-1-3#data-small button.data:hover, div.column-1-3#data-small button.data:active {
  color: #4295d5;
  border: 1px solid #4295d5;
  background: none;
}
/* line 722, ../sass/base.css.scss */
div.column-1-3#data-small div.button.margin {
  float: left;
  margin-right: 20px;
}
/* line 725, ../sass/base.css.scss */
div.column-1-3#data-small div.button.margin:last-child {
  margin-right: 0;
}
/* line 730, ../sass/base.css.scss */
div.column-1-3#data-small section.actions, div.column-1-3#data-small section.related-content {
  margin-top: 20px;
}

/* line 735, ../sass/base.css.scss */
div.info-message {
  background: #f7f7f7;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 20px;
}
/* line 742, ../sass/base.css.scss */
div.info-message p, div.info-message a {
  font-size: 0.85em;
  font-weight: 300;
}
/* line 746, ../sass/base.css.scss */
div.info-message h1 {
  font-size: 1em;
  font-weight: 400;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}
/* line 751, ../sass/base.css.scss */
div.info-message h1 i {
  padding-right: 5px;
}
/* line 755, ../sass/base.css.scss */
div.info-message strong {
  font-weight: 400;
}

/* line 763, ../sass/base.css.scss */
form section textarea, form section input {
  width: 100%;
  margin: 0 0 10px 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #5e5a5c;
  padding: 0.5em;
}
/* line 776, ../sass/base.css.scss */
form section input[type="radio"], form section input[type="checkbox"] {
  width: 2%;
  margin-left: 1px;
  margin-right: 5px;
}
/* line 781, ../sass/base.css.scss */
form section input[type="file"] {
  border: none;
  opacity: 1;
  cursor: pointer;
}
/* line 786, ../sass/base.css.scss */
form section p#practical-instructions {
  margin-bottom: 15px;
}
/* line 789, ../sass/base.css.scss */
form section p.upload {
  color: #4295d5;
}
/* line 792, ../sass/base.css.scss */
form section input.state {
  margin-top: -10px;
}
/* line 796, ../sass/base.css.scss */
form input[type="submit"] {
  background: #4295d5;
  border: 1px solid #4295d5;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 0;
  color: #fff;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
  margin: 30px 2% 30px 0;
  width: 45%;
  outline: none;
}
/* line 812, ../sass/base.css.scss */
form input[type="submit"][name="save"] {
  background: none;
  border: 1px solid #4295d5;
  color: #4295d5;
}
/* line 816, ../sass/base.css.scss */
form input[type="submit"][name="save"]:hover {
  background: #4295d5;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 829, ../sass/base.css.scss */
div#footer_container {
  width: 100%;
  position: absolute;
  background-color: #333333;
  background: url('/images/map_world_small.png?1394715308') no-repeat center;
  background-opacity: 0.2;
  background-size: 100%;
  padding: 20px;
}
/* line 837, ../sass/base.css.scss */
div#footer_container a#unep {
  padding: 10px 0 0 0;
}
/* line 839, ../sass/base.css.scss */
div#footer_container a#unep img {
  width: 15%;
  opacity: 0.6;
}
/* line 842, ../sass/base.css.scss */
div#footer_container a#unep img:hover, div#footer_container a#unep img:active {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 854, ../sass/base.css.scss */
ul.footer {
  list-style: none;
  overflow: hidden;
  padding: 0;
}
/* line 858, ../sass/base.css.scss */
ul.footer li {
  padding: 0 0 10px 0;
  margin: 0;
}
/* line 861, ../sass/base.css.scss */
ul.footer li a {
  font-size: 1em;
  font-weight: 300;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #bbbbbb;
}
/* line 867, ../sass/base.css.scss */
ul.footer li a:hover {
  color: #4295d5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 875, ../sass/base.css.scss */
ul.footer li a.active {
  color: #4295d5;
}

/* line 882, ../sass/base.css.scss */
.section-group {
  overflow: hidden;
  margin-top: -30px;
}

/* line 887, ../sass/base.css.scss */
div#welcome-container {
  width: 100%;
  background: #f7f7f7;
}

/* line 893, ../sass/base.css.scss */
div#welcome {
  width: 90%;
  margin: auto;
  padding: 60px 0;
}
/* line 897, ../sass/base.css.scss */
div#welcome h1 {
  font-size: 1.25em;
  line-height: 1.25em;
}
/* line 901, ../sass/base.css.scss */
div#welcome p {
  margin-bottom: 0;
}

/* line 906, ../sass/base.css.scss */
div.wide_heading {
  margin: 30px 0;
}
/* line 908, ../sass/base.css.scss */
div.wide_heading h1 {
  line-height: 1.25em;
  text-align: center;
  margin-top: 0;
  font-size: 2em;
}

/* line 916, ../sass/base.css.scss */
a.back_nav {
  margin: 30px 0;
  display: inline-block;
  clear: both;
  width: 100%;
}

/* line 923, ../sass/base.css.scss */
div.section-group#staff {
  padding-top: 10px;
}

/* line 927, ../sass/base.css.scss */
section.group.staff {
  overflow: hidden;
  width: 47.5%;
  margin-right: 5%;
  float: left;
}
/* line 932, ../sass/base.css.scss */
section.group.staff:nth-child(2n) {
  margin-right: 0;
}
/* line 935, ../sass/base.css.scss */
section.group.staff:nth-child(2n+3) {
  clear: left;
}
/* line 938, ../sass/base.css.scss */
section.group.staff img {
  padding-bottom: 0;
}
/* line 942, ../sass/base.css.scss */
section.group.staff h4 {
  padding: 10px 0 0 0;
}
/* line 946, ../sass/base.css.scss */
section.group.staff p {
  margin-bottom: 0;
}

/* line 951, ../sass/base.css.scss */
section.group {
  float: none;
  width: 100%;
  margin: 30px 0 0 0;
}

/* line 957, ../sass/base.css.scss */
ul#large-menu {
  display: none;
}

/* line 961, ../sass/base.css.scss */
ul#button-menu {
  background: #222;
  display: none;
  clear: both;
  padding: 1% 5% 5% 5%;
  float: none;
}
/* line 967, ../sass/base.css.scss */
ul#button-menu li {
  padding-bottom: 3px;
  margin: 0;
  clear: both;
  font-size: 1.1em;
}
/* line 972, ../sass/base.css.scss */
ul#button-menu li:last-child {
  padding-bottom: 0;
}

/* line 979, ../sass/base.css.scss */
button#trigger-menu {
  background: #222;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.85em;
  border: none;
  padding: 0 5%;
  width: 100%;
  text-align: left;
  margin: 0;
  border-radius: 0;
  outline: none;
}
/* line 991, ../sass/base.css.scss */
button#trigger-menu i {
  line-height: 30px;
  float: left;
}
/* line 994, ../sass/base.css.scss */
button#trigger-menu i:after {
  display: inline-block;
  content: "Navigation";
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  padding-left: 5px;
}
/* line 1002, ../sass/base.css.scss */
button#trigger-menu:hover {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 1012, ../sass/base.css.scss */
div.column-1-3#data {
  display: none;
}

/* line 1016, ../sass/base.css.scss */
section.actions, section.related-content {
  margin-top: 30px;
}
/* line 1018, ../sass/base.css.scss */
section.actions h1, section.related-content h1 {
  margin-bottom: 10px;
  font-size: 1em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 1px solid #dddddd;
  margin: 4px 0 10px 0;
  padding-bottom: 5px;
}
/* line 1028, ../sass/base.css.scss */
section.actions:first-child, section.related-content:first-child {
  margin-top: 0;
}
/* line 1031, ../sass/base.css.scss */
section.actions.related, section.related-content.related {
  margin: 60px 0 0 0;
}

/* line 1036, ../sass/base.css.scss */
div.news-vacancy-details {
  margin-bottom: 20px;
}
/* line 1038, ../sass/base.css.scss */
div.news-vacancy-details section.actions {
  margin-top: 0;
}

/* line 1044, ../sass/base.css.scss */
div#team-details span {
  font-size: 1em;
  color: #5e5a5c;
  display: inline-block;
  padding-left: 10px;
  font-weight: 300;
  font-size: 0.85em;
  margin-bottom: 20px;
}
/* line 1052, ../sass/base.css.scss */
div#team-details span:first-child {
  padding: 0 10px 0 0;
  border-right: 1px solid #ddd;
}
/* line 1056, ../sass/base.css.scss */
div#team-details span i {
  color: #dddddd;
}

/* line 1062, ../sass/base.css.scss */
section.share {
  font-weight: 300;
}
/* line 1064, ../sass/base.css.scss */
section.share h1 {
  border: none;
  display: inline;
  color: #bbbbbb;
  padding-right: 5px;
  font-weight: 300;
}
/* line 1071, ../sass/base.css.scss */
section.share span {
  font-size: 0.85em;
}
/* line 1073, ../sass/base.css.scss */
section.share span a {
  display: inline-block;
  text-transform: none;
  color: #bbbbbb;
  border-right: 1px solid #e8e8e8;
  padding: 0 8px 0 0;
  cursor: pointer;
}
/* line 1080, ../sass/base.css.scss */
section.share span a:last-of-type {
  border: none;
  padding: 0 0 0 4px;
}
/* line 1083, ../sass/base.css.scss */
section.share span a:last-of-type i {
  font-size: 1.25em;
}
/* line 1087, ../sass/base.css.scss */
section.share span a:hover, section.share span a:active {
  text-decoration: none;
  color: #4295d5;
}

/* line 1095, ../sass/base.css.scss */
iframe {
  max-width: 100%;
}

/* line 1099, ../sass/base.css.scss */
div.status {
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
}
/* line 1103, ../sass/base.css.scss */
div.status#ok {
  background: #b7cf65;
}
/* line 1106, ../sass/base.css.scss */
div.status#warning {
  background: #ec8486;
}
/* line 1109, ../sass/base.css.scss */
div.status#error {
  background: #ec8486;
}

/* line 1115, ../sass/base.css.scss */
div.status div.message {
  width: 90%;
  padding: 10px 0;
  margin: auto;
  overflow: hidden;
}
/* line 1120, ../sass/base.css.scss */
div.status div.message p {
  margin-bottom: 0;
  color: #fff;
  margin: 10px 0;
}
/* line 1125, ../sass/base.css.scss */
div.status div.message i.icon-chevron-up {
  line-height: 100%;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 1136, ../sass/base.css.scss */
div.error-message {
  border: 2px solid #ec8486;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
}
/* line 1142, ../sass/base.css.scss */
div.error-message h2 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #dddddd;
  margin: 4px 0 10px 0;
  padding-bottom: 5px;
}
/* line 1150, ../sass/base.css.scss */
div.error-message h2 i {
  color: #ec8486;
  padding-right: 5px;
}
/* line 1155, ../sass/base.css.scss */
div.error-message ul {
  list-style-type: none;
}
/* line 1157, ../sass/base.css.scss */
div.error-message ul li {
  color: #5e5a5c;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 5px;
}
/* line 1162, ../sass/base.css.scss */
div.error-message ul li:last-child {
  padding-bottom: 0;
}

/* line 1169, ../sass/base.css.scss */
div.dashboard-background {
  position: fixed;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -9999;
  background-image: url('/images/dashboard_background.jpg?1394715308');
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 1184, ../sass/base.css.scss */
div.dashboard-container {
  background: transparent;
}

/* line 1188, ../sass/base.css.scss */
div.dashboard {
  margin: 30px auto;
}
/* line 1189, ../sass/base.css.scss */
div.dashboard p.no-results {
  padding: 5px 0 5px 19px;
}
/* line 1193, ../sass/base.css.scss */
div.dashboard div.biodiversity {
  clear: both;
  margin-top: 0px;
}
/* line 1198, ../sass/base.css.scss */
div.dashboard .spinner {
  margin: auto;
}
/* line 1202, ../sass/base.css.scss */
div.dashboard header h1 {
  font-size: 1.75em;
  line-height: 1.25em;
  color: #fff;
  margin: 0 0 30px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 1211, ../sass/base.css.scss */
div.dashboard div.section-group {
  margin-top: 0;
}
/* line 1215, ../sass/base.css.scss */
div.dashboard div.section-group.controls {
  position: relative;
  width: 99%;
  z-index: 1000;
  overflow: visible;
  min-height: 100px;
}
/* line 1221, ../sass/base.css.scss */
div.dashboard div.section-group.controls #view-button {
  width: 100%;
}
/* line 1224, ../sass/base.css.scss */
div.dashboard div.section-group.controls section.group {
  background-color: rgba(255, 255, 255, 0);
  margin-top: 0;
}
/* line 1228, ../sass/base.css.scss */
div.dashboard div.section-group.controls #search-field {
  width: 100%;
  border-bottom: 2px solid #fff;
  margin-top: 30px;
}
/* line 1232, ../sass/base.css.scss */
div.dashboard div.section-group.controls #search-field input {
  width: 89%;
  padding: 5px 0 10px 0;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  color: #fff;
  background: none;
  border: none;
  font-size: 1.1em;
  outline: none;
}
/* line 1242, ../sass/base.css.scss */
div.dashboard div.section-group.controls #search-field input::-webkit-input-placeholder {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
/* line 1246, ../sass/base.css.scss */
div.dashboard div.section-group.controls #search-field input::-moz-placeholder {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
/* line 1250, ../sass/base.css.scss */
div.dashboard div.section-group.controls #search-field input:-moz-placeholder {
  /* Older versions of Firefox */
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
/* line 1254, ../sass/base.css.scss */
div.dashboard div.section-group.controls #search-field input:-ms-input-placeholder {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
/* line 1258, ../sass/base.css.scss */
div.dashboard div.section-group.controls #search-field i.icon-search {
  width: 30px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px 25px 5px 5px;
  margin-bottom: 10px;
  border: 2px solid #fff;
  font-size: 1.1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 1274, ../sass/base.css.scss */
div.dashboard div.section-group.controls button {
  width: 100%;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  font-size: 1.25em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 5px 15px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
/* line 1288, ../sass/base.css.scss */
div.dashboard div.section-group.controls button:hover, div.dashboard div.section-group.controls button:active {
  border: 2px solid #4295d5;
  background: #4295d5;
  color: #fff;
}
/* line 1296, ../sass/base.css.scss */
div.dashboard section.group {
  margin-top: 30px;
}
/* line 1301, ../sass/base.css.scss */
div.dashboard section.group.stats:first-child {
  margin-top: 0;
}
/* line 1304, ../sass/base.css.scss */
div.dashboard section.group.stats p {
  margin-bottom: 0;
}
/* line 1308, ../sass/base.css.scss */
div.dashboard section.group.stats .stat {
  overflow: auto;
  margin: 0 0 30px 0;
  background-color: rgba(225, 225, 225, 0.8);
}
/* line 1312, ../sass/base.css.scss */
div.dashboard section.group.stats .stat header {
  padding: 15px;
}
/* line 1314, ../sass/base.css.scss */
div.dashboard section.group.stats .stat header p {
  font-weight: 500;
  display: inline;
  font-size: 0.85em;
  line-height: 1.25em;
}
/* line 1319, ../sass/base.css.scss */
div.dashboard section.group.stats .stat header p span.infotext {
  font-weight: 300;
  color: #bbbbbb;
  padding: 3px 0;
}
/* line 1325, ../sass/base.css.scss */
div.dashboard section.group.stats .stat header span.infotext {
  display: block;
  text-transform: none;
}
/* line 1329, ../sass/base.css.scss */
div.dashboard section.group.stats .stat header i.icon-info-sign {
  color: #ccc;
  font-size: 1em;
  line-height: 1em;
  padding-right: 0;
  padding-left: 5px;
  text-decoration: none;
}
/* line 1336, ../sass/base.css.scss */
div.dashboard section.group.stats .stat header i.icon-info-sign:hover, div.dashboard section.group.stats .stat header i.icon-info-sign:active {
  color: #4295d5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 1346, ../sass/base.css.scss */
div.dashboard section.group.stats .stat .metrics-container {
  padding: 15px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 1352, ../sass/base.css.scss */
div.dashboard section.group.stats .stat .metric {
  width: 100%;
  line-height: 0.75em;
}
/* line 1355, ../sass/base.css.scss */
div.dashboard section.group.stats .stat .metric.percentage {
  width: 100%;
}
/* line 1359, ../sass/base.css.scss */
div.dashboard section.group.stats .stat .number {
  font-size: 1.75em;
  font-weight: bold;
  color: #333333;
  line-height: 1.25em;
}
/* line 1365, ../sass/base.css.scss */
div.dashboard section.group.stats .stat .small {
  font-size: 0.85em;
  font-weight: 300;
}
/* line 1368, ../sass/base.css.scss */
div.dashboard section.group.stats .stat .small.protected {
  padding-top: 10px;
}
/* line 1372, ../sass/base.css.scss */
div.dashboard section.group.stats .stat .number, div.dashboard section.group.stats .stat .small {
  display: inline-block;
}
/* line 1376, ../sass/base.css.scss */
div.dashboard section.group.stats .stat .content p {
  line-height: 2.25em;
}
/* line 1380, ../sass/base.css.scss */
div.dashboard section.group.stats .stat b {
  font-weight: bold;
}
/* line 1385, ../sass/base.css.scss */
div.dashboard section.group.stats .stat.carbon > div {
  border-top: 1px solid #dddddd;
}
/* line 1388, ../sass/base.css.scss */
div.dashboard section.group.stats .stat.carbon .metrics-container .metric p.subheader {
  margin-bottom: 4%;
  font-size: 0.85em;
  color: #333333;
}
/* line 1393, ../sass/base.css.scss */
div.dashboard section.group.stats header {
  padding: 16px 10px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}
/* line 1398, ../sass/base.css.scss */
div.dashboard section.group.stats header p {
  margin-bottom: 0;
  font-weight: bold;
}
/* line 1402, ../sass/base.css.scss */
div.dashboard section.group.stats header span.option-selector {
  font-size: 0.85em;
  float: right;
  cursor: pointer;
  color: #4295d5;
  text-transform: none;
  font-weight: 300;
  line-height: 1em;
}
/* line 1410, ../sass/base.css.scss */
div.dashboard section.group.stats header span.option-selector:hover, div.dashboard section.group.stats header span.option-selector:active {
  text-decoration: underline;
}
/* line 1414, ../sass/base.css.scss */
div.dashboard section.group.stats header div.info-link {
  float: right;
}
/* line 1416, ../sass/base.css.scss */
div.dashboard section.group.stats header div.info-link span.option-selector {
  display: none;
}
/* line 1420, ../sass/base.css.scss */
div.dashboard section.group.stats header div.info-link-small {
  float: none;
  padding-top: 5px;
}
/* line 1423, ../sass/base.css.scss */
div.dashboard section.group.stats header div.info-link-small span.option-selector {
  float: none;
}
/* line 1430, ../sass/base.css.scss */
div.dashboard .bar-percentage {
  float: left;
  color: #333333;
  padding: 0;
}
/* line 1436, ../sass/base.css.scss */
div.dashboard .bar-container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 12px;
  background: rgba(66, 149, 213, 0.4);
  width: 100%;
  overflow: hidden;
  bottom: 20px;
  right: 20px;
  margin-top: 10px;
}
/* line 1449, ../sass/base.css.scss */
div.dashboard .bar {
  float: left;
  background: #4295d5;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 1464, ../sass/base.css.scss */
div.dashboard .geo_entities .select2-container {
  width: 100%;
}
/* line 1467, ../sass/base.css.scss */
div.dashboard .geo_entities .select2-chosen {
  padding: 10px 0;
}
/* line 1472, ../sass/base.css.scss */
div.dashboard table {
  width: 100%;
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
}
/* line 1476, ../sass/base.css.scss */
div.dashboard table p.no-data {
  padding: 15px;
}
/* line 1481, ../sass/base.css.scss */
div.dashboard tr.species-container {
  display: block;
  border-top: 1px solid #dddddd;
  padding: 15px;
  width: 100%;
}
/* line 1486, ../sass/base.css.scss */
div.dashboard tr.species-container:first-child {
  border-top: none;
}
/* line 1491, ../sass/base.css.scss */
div.dashboard tr.species-container {
  overflow: hidden;
}
/* line 1493, ../sass/base.css.scss */
div.dashboard tr.species-container td {
  vertical-align: top;
}
/* line 1498, ../sass/base.css.scss */
div.dashboard tr.species-container td.ranking {
  padding-left: 10px;
}
/* line 1500, ../sass/base.css.scss */
div.dashboard tr.species-container td.ranking p {
  line-height: 1.35em;
}
/* line 1503, ../sass/base.css.scss */
div.dashboard tr.species-container td.ranking p.common-name {
  font-weight: 500;
  color: #333333;
}
/* line 1507, ../sass/base.css.scss */
div.dashboard tr.species-container td.ranking p.scientific-name {
  font-weight: 300;
  font-style: italic;
  color: #5e5a5c;
}
/* line 1512, ../sass/base.css.scss */
div.dashboard tr.species-container td.ranking p.species-count-small {
  font-weight: 300;
  font-size: 1.25em;
  color: #999999;
}
/* line 1519, ../sass/base.css.scss */
div.dashboard td.species-count {
  display: none;
}
/* line 1526, ../sass/base.css.scss */
div.dashboard tr.species-container td.counter-container div.counter {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 12px;
  color: #fff;
  background: #4295d5;
  font-weight: 300;
  font-size: 1.75em;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-align: center;
}
/* line 1540, ../sass/base.css.scss */
div.dashboard tr.species-container td.counter.list-0 {
  background: #4295D5;
}
/* line 1544, ../sass/base.css.scss */
div.dashboard tr.species-container td.counter.list-1 {
  background: #4B92D5;
}
/* line 1548, ../sass/base.css.scss */
div.dashboard tr.species-container td.counter.list-2 {
  background: #66A4DD;
}
/* line 1552, ../sass/base.css.scss */
div.dashboard tr.species-container td.counter.list-3 {
  background: #85B7E4;
}
/* line 1556, ../sass/base.css.scss */
div.dashboard tr.species-container td.counter.list-4 {
  background: #AFD1ED;
}
/* line 1560, ../sass/base.css.scss */
div.dashboard tr.species-container td.counter.list-5 {
  background: #c7dced;
}
/* line 1565, ../sass/base.css.scss */
div.dashboard table p {
  line-height: 1.5;
}
/* line 1572, ../sass/base.css.scss */
div.dashboard .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px;
  margin: 2px 0 0;
  font-size: 1.25em;
  font-weight: 300;
  list-style: none;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
/* line 1590, ../sass/base.css.scss */
div.dashboard .dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  color: #333333;
  white-space: nowrap;
}
/* line 1596, ../sass/base.css.scss */
div.dashboard .dropdown-menu .active a, div.dashboard .dropdown-menu .active a:hover, div.dashboard .dropdown-menu .active a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #4295d5;
  outline: 0;
}
/* line 1604, ../sass/base.css.scss */
div.dashboard .fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
/* line 1609, ../sass/base.css.scss */
div.dashboard .fade.in {
  opacity: 1;
}
/* line 1612, ../sass/base.css.scss */
div.dashboard .collapse {
  display: none;
}
/* line 1615, ../sass/base.css.scss */
div.dashboard .collapse.in {
  display: block;
}
/* line 1618, ../sass/base.css.scss */
div.dashboard .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .65s ease;
  transition: height .65s ease;
}

/* line 1630, ../sass/base.css.scss */
div.pattern, div.pattern-navigation {
  width: 70%;
  margin: 50px auto;
  border: 1px solid #dddddd;
}

/* line 1636, ../sass/base.css.scss */
div.pattern-navigation {
  padding: 20px;
}
/* line 1638, ../sass/base.css.scss */
div.pattern-navigation ul {
  list-style-type: none;
}

/* line 1643, ../sass/base.css.scss */
h1.navigation-heading {
  margin: 0;
  font-size: 1.25em;
  font-weight: 300;
  color: #5e5a5c;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* line 1652, ../sass/base.css.scss */
div.pattern-details {
  border-bottom: 1px solid #dddddd;
  background: #f7f7f7;
  padding: 20px;
}
/* line 1656, ../sass/base.css.scss */
div.pattern-details h3.pattern-name {
  margin: 0;
  font-size: 1.25em;
  font-weight: 300;
  color: #5e5a5c;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

/* line 1665, ../sass/base.css.scss */
div.pattern-preview {
  padding: 20px;
}
/* line 1667, ../sass/base.css.scss */
div.pattern-preview div.status {
  position: relative;
  margin-bottom: 15px;
}
/* line 1671, ../sass/base.css.scss */
div.pattern-preview .block {
  background: #dddddd;
  padding: 20px;
  height: 200px;
}
/* line 1676, ../sass/base.css.scss */
div.pattern-preview .container {
  width: 100%;
  margin: 0;
}
/* line 1680, ../sass/base.css.scss */
div.pattern-preview .container .column-1-3.right {
  padding: 20px;
}

/* line 1685, ../sass/base.css.scss */
div.pattern-markup {
  padding: 20px;
  border-top: 1px solid #dddddd;
  background: #f7f7f7;
}

/* line 1691, ../sass/base.css.scss */
code {
  color: #000;
  font-family: Consolas,Monaco,'Andale Mono',monospace;
  font-size: 1em;
  font-weight: lighter;
}

/* line 1698, ../sass/base.css.scss */
pre {
  color: #bbbbbb;
  overflow: scroll;
}
/* line 1701, ../sass/base.css.scss */
pre span.element {
  color: #905;
}
/* line 1704, ../sass/base.css.scss */
pre span.markup-content {
  color: #5e5a5c;
}
/* line 1707, ../sass/base.css.scss */
pre span.attribute {
  color: #690;
}
/* line 1710, ../sass/base.css.scss */
pre span.value {
  color: #07a;
}

/* line 1715, ../sass/base.css.scss */
div.status.pattern {
  position: relative;
  margin-bottom: 15px;
}
