/* line 15, ../sass/large.css.scss */
.container {
  width: 70%;
  max-width: 980px;
  margin: 80px auto;
  overflow: hidden;
}
/* line 20, ../sass/large.css.scss */
.container.dashboard {
  overflow: visible;
}
/* line 23, ../sass/large.css.scss */
.container#news-home {
  width: 100%;
  padding: 0 15% 60px 15%;
  max-width: 100%;
  margin-top: 0;
}
/* line 28, ../sass/large.css.scss */
.container#news-home #news-home-content {
  max-width: 980px;
  margin: auto;
}
/* line 35, ../sass/large.css.scss */
.container img {
  max-width: 100%;
}
/* line 39, ../sass/large.css.scss */
.container section.group {
  width: 30.3%;
  margin-right: 4.5%;
}
/* line 42, ../sass/large.css.scss */
.container section.group:nth-child(2n) {
  margin-right: 4.5%;
}
/* line 45, ../sass/large.css.scss */
.container section.group:nth-child(2n+3) {
  clear: none;
}
/* line 48, ../sass/large.css.scss */
.container section.group:nth-child(3n) {
  margin-right: 0;
}
/* line 51, ../sass/large.css.scss */
.container section.group:nth-child(3n+4) {
  clear: left;
}
/* line 54, ../sass/large.css.scss */
.container section.group#twitter {
  padding: 1.5%;
}
/* line 56, ../sass/large.css.scss */
.container section.group#twitter #top_twitter {
  width: 100%;
  padding: 2% 0 5% 0;
}
/* line 59, ../sass/large.css.scss */
.container section.group#twitter #top_twitter div.button {
  width: 120px;
  margin-right: 1.75%;
}
/* line 64, ../sass/large.css.scss */
.container section.group#twitter .tweet {
  padding: 3% 0;
}
/* line 66, ../sass/large.css.scss */
.container section.group#twitter .tweet small {
  margin-bottom: 3%;
}
/* line 71, ../sass/large.css.scss */
.container section.group:last-child {
  margin-right: 0;
}
/* line 74, ../sass/large.css.scss */
.container section.group.staff {
  width: 22%;
  margin-right: 4%;
}
/* line 78, ../sass/large.css.scss */
.container section.group.staff:nth-child(2n) {
  margin-right: 4%;
}
/* line 82, ../sass/large.css.scss */
.container section.group.staff:nth-child(3n) {
  margin-right: 4%;
}
/* line 85, ../sass/large.css.scss */
.container section.group.staff:nth-child(3n+4) {
  clear: none;
}
/* line 88, ../sass/large.css.scss */
.container section.group.staff:nth-child(4n) {
  margin-right: 0;
}
/* line 91, ../sass/large.css.scss */
.container section.group.staff:nth-child(4n+5) {
  clear: left;
}
/* line 96, ../sass/large.css.scss */
.container .column-1-3 {
  width: 28.5%;
  float: left;
  margin-right: 6.5%;
}
/* line 100, ../sass/large.css.scss */
.container .column-1-3.right {
  float: right;
  margin: 0 0 0 6.5%;
  border: none;
  margin-top: 0;
  padding-top: 0;
}
/* line 107, ../sass/large.css.scss */
.container .column-1-3 img.employee_pic {
  width: 100%;
}
/* line 110, ../sass/large.css.scss */
.container .column-1-3 section.actions, .container .column-1-3 section.related-content {
  max-width: 100%;
}
/* line 114, ../sass/large.css.scss */
.container .column-2-3 {
  width: 65%;
  float: right;
}
/* line 117, ../sass/large.css.scss */
.container .column-2-3.left {
  float: left;
}

/* line 124, ../sass/large.css.scss */
div.dashboard section.group {
  width: 47%;
  margin-right: 4.5%;
  overflow: visible;
}

/* line 130, ../sass/large.css.scss */
div#nav {
  width: 70%;
  margin: auto;
  max-width: 980px;
  overflow: hidden;
}
/* line 135, ../sass/large.css.scss */
div#nav a#home_link {
  position: absolute;
  top: 0;
  display: block;
  width: 26%;
  float: left;
}
/* line 141, ../sass/large.css.scss */
div#nav a#home_link img {
  width: 100%;
  max-height: 100%;
  display: block;
  background: #4295d5;
}
/* line 148, ../sass/large.css.scss */
div#nav ul#large-menu {
  width: 65%;
  padding: 0 5px;
  margin: 0;
  overflow: hidden;
  float: right;
}
/* line 154, ../sass/large.css.scss */
div#nav ul#large-menu li {
  padding: 0 0 0 2%;
  line-height: 37px;
}
/* line 159, ../sass/large.css.scss */
div#nav ul#large-menu#button-menu li {
  font-size: 0.85em;
}

/* line 166, ../sass/large.css.scss */
div.dashboard-container {
  margin: 0;
}

/* line 170, ../sass/large.css.scss */
div.heading {
  width: 70%;
  max-width: 980px;
}
/* line 173, ../sass/large.css.scss */
div.heading h1 {
  font-size: 2.75em;
  line-height: 1.25em;
  display: inline-block;
  width: 80%;
}
/* line 179, ../sass/large.css.scss */
div.heading h2 {
  font-size: 1.25em;
  line-height: 1.4em;
}
/* line 183, ../sass/large.css.scss */
div.heading h1 h2 {
  display: inline-block;
}

/* line 188, ../sass/large.css.scss */
div#footer_container {
  width: 100%;
  padding: 30px 0;
}

/* line 193, ../sass/large.css.scss */
#footer {
  width: 70%;
  max-width: 980px;
  margin: auto;
}

/* line 200, ../sass/large.css.scss */
ul.footer li {
  float: left;
}

/* line 205, ../sass/large.css.scss */
.slicknav_menu {
  display: none;
}

@media screen and (max-width: 40em) {
  /* #menu is the original menu */
  /* line 211, ../sass/large.css.scss */
  .js #menu {
    display: none;
  }

  /* line 215, ../sass/large.css.scss */
  .js .slicknav_menu {
    display: block;
  }
}
/* line 220, ../sass/large.css.scss */
ul#large-menu {
  display: block;
}

/* line 224, ../sass/large.css.scss */
button#trigger-menu {
  display: none;
}

/* line 228, ../sass/large.css.scss */
div.column-1-3#data {
  display: block;
}

/* line 232, ../sass/large.css.scss */
div.column-1-3#data-small {
  display: none;
}

/* line 236, ../sass/large.css.scss */
div.data_policy-small {
  display: none;
}

/* line 240, ../sass/large.css.scss */
ul.subnav {
  display: block;
}
/* line 242, ../sass/large.css.scss */
ul.subnav li.header {
  padding-left: 10px;
}

/* line 247, ../sass/large.css.scss */
ul.subnav-small {
  display: none;
}

/* line 251, ../sass/large.css.scss */
select#sorting, div.search-field input {
  font-size: 0.85em;
}

/* line 255, ../sass/large.css.scss */
div.search-field i {
  font-size: 0.85em;
}

/* line 260, ../sass/large.css.scss */
ul#content li {
  font-size: 1em;
}
/* line 262, ../sass/large.css.scss */
ul#content li.header {
  font-size: 1.25em;
}
/* line 264, ../sass/large.css.scss */
ul#content li.header span.badge {
  margin-top: 2px;
}

/* line 271, ../sass/large.css.scss */
div#welcome {
  width: 70%;
  max-width: 980px;
}
/* line 274, ../sass/large.css.scss */
div#welcome h1, div#welcome h2 {
  max-width: 980px;
}

/* line 279, ../sass/large.css.scss */
div.heading.featured-project {
  width: 70%;
  max-width: 980px;
  margin: auto;
}

/* line 285, ../sass/large.css.scss */
div.status div.message {
  width: 70%;
  max-width: 980px;
}

/* line 292, ../sass/large.css.scss */
div.dashboard div.section-group.controls div.group#search-field input {
  font-size: 1.5em;
  padding: 5px 0;
  width: 75%;
}
/* line 297, ../sass/large.css.scss */
div.dashboard div.section-group.controls button {
  font-size: 1.5em;
}
/* line 302, ../sass/large.css.scss */
div.dashboard section.group.stats:first-child {
  margin-top: 0;
}
/* line 305, ../sass/large.css.scss */
div.dashboard section.group.stats p {
  margin-bottom: 0;
}
/* line 309, ../sass/large.css.scss */
div.dashboard section.group.stats .stat {
  margin: 0 0 40px 0;
}
/* line 311, ../sass/large.css.scss */
div.dashboard section.group.stats .stat .number {
  font-size: 2em;
}
/* line 316, ../sass/large.css.scss */
div.dashboard tr.species-container td {
  vertical-align: middle;
}
/* line 319, ../sass/large.css.scss */
div.dashboard tr.species-container td.ranking {
  width: 74%;
}
/* line 321, ../sass/large.css.scss */
div.dashboard tr.species-container td.ranking p {
  font-size: 1em;
}
/* line 324, ../sass/large.css.scss */
div.dashboard tr.species-container td.ranking p.species-count-small {
  display: none;
}
/* line 327, ../sass/large.css.scss */
div.dashboard tr.species-container td.ranking.cites-cms {
  height: 42px;
}
/* line 331, ../sass/large.css.scss */
div.dashboard tr.species-conteiner p.species-count-small {
  display: none;
}
/* line 334, ../sass/large.css.scss */
div.dashboard td.species-count {
  width: 18%;
  display: table-cell;
  padding: 0;
  font-weight: 300;
  font-size: 1.25em;
  text-align: right;
}
